body {
  font-family:'Fire Sans', sans-serif;

  background-image: url("https://i.imgur.com/qZfCqSu.jpg");
  background-size: cover;
}

header ul{
font-size: 16px;
font-weight: 600;
}

.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
    flex-wrap: wrap;
      display: flex;
}
#welcome p {
  width: 50%;
}

header h1{
  background:#F0ECEE;
  font-size: 22px;
  font-weight: 600;
}

header ul{
  margin:0;
  padding:0;
  display: flex;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  display: flex;

}

a:link {
    text-decoration: none;
}

header li a:link, section p {
  color:#88898B;
}

header li a:hover {
  color:#FF4850;
}

header li a.button, section a.button {
  color: #F0ECEE;
  background-color: #FF4850;
  padding: 10px;
  border-radius: 5px;
}

header li .button:hover, section a.button:hover {
  color: #FF4850;
  background-color: #CCC;
}
  header #brand{
    float:left;
  }

header #brand h1{
  margin: 10;
}

header nav{
  float:right;
  margin-top:20px;
}

header .highlight, header .current a{
  color:#FF4850
}

section .highlight, section .current a{
  color:#FF4850
}

section h1{
  font-size: 30px;
  font-weight: 800;
}

section p {
  font-size: 18px;
  font-weight: 500;
}
